.idea/
chat/.idea/
chat/client/.idea/
chat/server/.idea/
job-board/.idea/
job-board/client/.idea/
job-board/server/.idea/
job-board-typescript/.idea/
job-board-typescript/client/.idea/
job-board-typescript/server/.idea/

chat/client/node_modules
chat/server/node_modules
job-board/client/node_modules
job-board/server/node_modules
job-board-typescript/client/node_modules
job-board-typescript/server/node_modules

.DS_Store
